<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.commax.iphomeiot.calldial">

    <uses-permission android:name="android.permission.CALL_PHONE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_CALL_LOG" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS" ></uses-permission>
    <uses-permission android:name="android.permission.INTERNET" ></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" ></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_apps_main_app_12_n"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--     <activity
                android:name="CallLogActivity"
                android:icon="@mipmap/ic_apps_main_app14_n"
                android:label="@string/STR_TAB_CALLLOG"
                android:screenOrientation="landscape"
                android:targetActivity="MainActivity" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

           <activity
                android:name="ContactsActivity"
                android:icon="@mipmap/ic_apps_main_app13_n"
                android:label="@string/STR_TAB_CONTACTS"
                android:screenOrientation="landscape"
                android:targetActivity="MainActivity" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity> -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fae81bbccf8a811238c9213d0312a19a172dfdf0" />
    </application>

</manifest>